.tiser.section.section-index(data-bg-color="#ffffff;#ffffff" data-section-index="1")
  .container.tiser__wrap

    .container-small.tiser__content
      .tiser__bg
        img(src="img/big-circle.svg" alt="circle")

      h1.max REG.MEDIA
      span Digital-агентство
        br
        | полного цикла

      button.down
        +svg("down")

    //button.btn
    //  span Открытые вакансии
    //  +svg("right")
    //
    //button.btn.btn--min
    //  span Cервис или портал
    //
    //button.btn.btn--file
    //  img(src="img/clip.png" srcset="img/clip@2x.png 2x" alt="clip")
    //  span Прикрепить файл