.career.section.section-index#vacancy(data-bg-color="#FE7EB9;#FF9092" data-section-index="5")
    .career__wrap.container-min.section__content.section__text
        h2 Карьера

        p Мы работаем с крупнейшими клиентами и делаем проекты, которым можно позавидовать. Всегда стремимся к большему и хотим видеть в своей команде людей, разделяющих наши ценности и готовых расти вместе с нами.

        .btnandtext
            a(href="#").btn
                span Открытые вакансии
                +svg("right")

            p Не нашли подходящей вакансии, но очень хотите к нам в
                | команду? Пришлите свое резюме на
                a(href="mailto:Reg.Media@gmail.com") Reg.Media@gmail.com
                | и напишите, почему нам нужны именно вы
