.career.section.section-index#vacancy(data-bg-color="#FE7EB9;#FF9092" data-section-index="5")
    .career__wrap.container-min.section__content.section__text
        h2 Карьера

        p Если Вы креативный, амбициозный, имеете успешный опыт работы в направлении интернет-маркетинга маркетинга, PR или продажах и хотели бы развиваться в кругу профессионалов - Welcome!

        .btnandtext
            a(href="#").btn
                span Открытые вакансии
                +svg("right")

            p Свои резюме Вы можете отправить на почту
                a(href="mailto:Reg.media@gmail.com") Reg.media@gmail.com
