header.header
  .container
    .header__logo
      a(href="#Агентство")
        svg
          use(href="ico/logo.svg")

    nav.header__nav
      ul
        li
          a(href="#") Агентство
        li
          a(href="#service") Услуги
        li
          a(href="#") Презентации
        li.space-between
          a(href="contact") Контакты
        li
          a(href='mailto:Reg.Media@gmail.com') Reg.Media@gmail.com