header.header
  .container
    .header__wrap
      .header__logo
        a(href="#Агентство")
          +svg("logo")

      nav.header__nav
        ul
          li
            a(href="#") Агентство
          li
            a(href="#service") Услуги
          li
            a(href="#") Презентации
          li.space-between
            a(href="contact") Контакты
          li
            a(href='mailto:Reg.Media@gmail.com') Reg.Media@gmail.com