header.header
  .container
    .header__wrap
      .header__btn.js-open-menu
        +svg("menu")

      .header__logo
        a(href="/")
          +svg("logo")

      nav.header__nav
        ul
          li.mobile
            a(href="/") Главная
          li
            a(href="#") Агентство
          li
            a(href="service.html") Услуги
          li
            a(href="#") Презентации
          li.space-between
            a(href="contact.html") Контакты

      .header__mail
        a(href='mailto:Reg.Media@gmail.com').link-email Reg.Media@gmail.com