script(src="https://code.jquery.com/jquery-3.5.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
script(src="https://code.createjs.com/1.0.0/createjs.min.js")

script(src="js/main.js")
script(src="js/vendor.js")

script.
  let phoneMask = $(".js-phone-mask");
  if(phoneMask.length) {
    phoneMask.mask("+9 (999) 999 99 99", {
      autoclear: true
    });
  }

//- script(src="js/anim.js" async)


link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap'  async rel='stylesheet')

