extends ../layouts/default
include ../helpers/mixins

block variables
  - const title = "Service"

block content
    .bg-animation

    #wrapper.blockattach
        include ../../blocks/modules/header/header

        .blockattach__content
            include ../../blocks/modules/service/service

        include ../../blocks/modules/footer/footer

block scripts
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
    script(src="https://code.createjs.com/1.0.0/createjs.min.js")
    //script(src="js/anim.js")
    script(src="js/main.js")
    script(src="js/vendor.js")

    script.
      document.addEventListener("DOMContentLoaded", function () {
        let anim = document.querySelector(".bg-animation");
        let particleSetings = {
          mouse_radius: 1,
          center_collider_proportion: 0.8,
          layers: ["6:70:6:1.1:true", "4:120:0:1:true", "4:180:7:0.9:true", "4:220:20:0.8:true"],
          count: 10,
          stats: true
        }

        console.log(particleSetings, JSON.stringify(particleSetings))
        anim.dataset.particles = JSON.stringify(particleSetings);

        let script = document.createElement("script");
        script.src = "js/anim.js";
        setTimeout(function () {
          document.body.append(script);
        });
      });


