extends layouts/default
include helpers/mixins

block variables
  - const title = "Index"

block content
  .bg-animation(data-particles='{ "mouse_radius": 1, "center_collider_proportion":0.8, "layers":[ "6:70:6:1.1:true", "4:120:0:1:true", "4:180:7:0.9:true", "4:220:20:0.8:true" ], "count":13, "stats":true }')

  .viewbtn
    .viewbtn__list
      a.js-go-to(href="#agency")
        span Агенство
      a.js-go-to(href="#ourtask")
        span Наша задача
      a.js-go-to(href="#clients")
        span Клиенты
      a.js-go-to(href="#vacancy")
        span Вакансии
      a.js-go-to(href="#contacts")
        span Контанты

  #wrapper.blockattach
    include ../blocks/modules/header/header.pug

    .blockattach__content
      include ../blocks/modules/tiser/tiser
      include ../blocks/modules/agency/agency
      include ../blocks/modules/ourtask/ourtask
      include ../blocks/modules/clients/clients
      include ../blocks/modules/career/career
      include ../blocks/modules/brief/brief

    include ../blocks/modules/footer/footer.pug

  include helpers/script
