.agency.section.section-index#agency(data-bg-color="#FF84DF;#E169FF" data-section-index="2")
  .agency__wrap.container-min.section__content.section__text
    h2 Агентство

    p Reg.Media - агентство интернет-рекламы, полного цикла. Комплексный подход к решению поставленной задачи, грамотная стратегия и лидогенерация, креативные решения и точные сроки выполнения - вот причины, по которым нам доверяют.

    button.down(onclick="goToLink('#ourtask')")
      +svg("down")