.agency.section.section-index#agency(data-bg-color="#FF84DF;#E169FF" data-section-index="2")
  .agency__wrap.container-min.section__content.section__text
    h2 Агентство

    p Мы — digital-агентство полного цикла, основанное в 2009 году. В нашей работе
      | креатив часто выходит за рамки digital и находит воплощение в новых форматах
      | и инструментах. Многолетняя технологическая экспертиза и понимание бизнес-
      | процессов наших клиентов позволяют нам создавать проекты, о которых говорят.

    button.down
      +svg("down")