.ourtask.section
    .ourtask__wrap.container.section__content.section__text
        h2 Наша задача

        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
            | несколько абзацев более менее осмысленного текста рыбы на русском языке, а
            | начинающему оратору отточить навык публичных выступлений в домашних
            | условиях.

        ul.list-check
            li
                img(src="img/check.png" srcset="img/check@2x.png" alt="check")
                span Сайт рыбатекст поможет дизайнеру

            li
                img(src="img/check.png" srcset="img/check@2x.png" alt="check")
                span Сайт рыбатекст поможет дизайнеру

            li
                img(src="img/check.png" srcset="img/check@2x.png" alt="check")
                span Сайт рыбатекст поможет дизайнеру