.ourtask.section.section-index#ourtask(data-bg-color="#E169FF;#FF955E" data-section-index="3")
    .ourtask__wrap.container-min.section__content.section__text
        h2 Наша задача

        p Наша задача - разработка digital‑стратегий которые полностью решат Ваши бизнес-задачи, помогут достичь устойчивого положения на рынке и создадут кристально-чистую репутацию. Мы гарантируем профессионализм на каждом этапе продвижения!

        ul.list-check
            li
                img(src="img/check.png" srcset="img/check@2x.png" alt="check")
                span Более 200 этапе успешных проектов

            li
                img(src="img/check.png" srcset="img/check@2x.png" alt="check")
                span Стратегия с нуля и до результата

            li
                img(src="img/check.png" srcset="img/check@2x.png" alt="check")
                span Поддержка на каждом развития