.clients.section.section-index#clients(data-bg-color="#FF9092;#FE7EB9" data-section-index="4")
    .clients__wrap.container-min.section__content.section__text
        h2 Клиенты

        //- p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать.

        .clients__slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="img/yandex.png" alt="IMG")
                .swiper-slide
                    img(src="img/yandex-eda.png" alt="IMG")
                .swiper-slide
                    img(src="img/sber-market.png" alt="IMG")
                .swiper-slide
                    img(src="img/sberbank.png" alt="IMG")
                .swiper-slide
                    img(src="img/teremok.png" alt="IMG")

            .swiper-button-prev
                +svg("left")
            .swiper-button-next
                +svg("right")
