.clients.section
    .clients__wrap.container.section__content.section__text
        h2 Клиенты

        p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать.

        .clients__slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")
                .swiper-slide
                    img(src="img/strategy.png" alt="IMG")

            .swiper-button-prev
                +svg("left")
            .swiper-button-next
                +svg("right")
