.contact.section.section-index.section--height-auto#contact(data-bg-color="#ea97ff;#f9c1a4" data-section-index="1")
    .contact__wrap.container-min.section__content.section__text
        .contact__content
            h1 Контакты

            ul
                li
                    span E-mail:
                    a(href="mailto:Reg.Media@gmail.com") Reg.Media@gmail.com
                li
                    span Telegram:
                    a(href="mailto:Reg.Media@gmail.com") Reg.Media@gmail.com
                li
                    span Телефон:
                    a(href="mailto:Reg.Media@gmail.com") Reg.Media@gmail.com

            span Время работы с __ по __.

            a(href="#").btn
                span Связаться
                +svg("right")