footer.footer
  .footer__wrap.container
    .footer__copyright
      span © REG.MEDIA 2020
    .footer__social
      a(href='#facebook')
        img(src="img/facebook.png" srcset="img/facebook@2x.png 2x" alt="facebook")
      a(href='#youtube')
        img(src="img/youtube.png" srcset="img/youtube@2x.png 2x" alt="youtube")
