.service.section.section--height-auto#service(data-bg-color="#ea97ff;#f9c1a4" data-section-index="1")
    .service__wrap.container.section__content
        .service__content
            h1 Наши услуги

            .service__grid
                .service__item.opened
                    .service__item-close.js-close-text
                        span
                    .service__item-img
                        img(src="img/strategy.png" srcset="img/strategy@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 Стратегия и брендинг
                        button.js-open-text Подробнее

                        .service__item-text
                            i
                            ul
                                li
                                    span Исследование

                                    ul
                                        li
                                            span Определение Ваших потребностей, требований и ограничений.

                                li
                                    span Постановка целей и определение KPI

                                    ul
                                        li
                                            span Постановка целей, к которым Вы стремитесь и определение показателей эффективности.

                                li
                                    span Медиапланирование

                                    ul
                                        li
                                            span Составление медиаплана, планирование рекламных кампаний,  определение и выбор источников продвижения.


                .service__item.opened
                    .service__item-close.js-close-text
                        span
                    .service__item-img
                        img(src="img/strategy2.png" srcset="img/strategy2@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 Web-услуги
                        button.js-open-text Подробнее

                        .service__item-text
                            i
                            ul
                                li
                                    span Разработка сайта

                                    ul
                                        li
                                            span Подготовка и разработка сайта с нуля, согласно Вашим целям, создание качественного UX/UI-дизайном

                                li
                                    span Аналитика

                                    ul
                                        li
                                            span Подбор инструментов web-аналитики, их настройка, мониторинг необходимых показателей

                                li
                                    span Рекламные материалы

                                    ul
                                        li
                                            span Разработка рекламных материалов, рекламных-баннеров, видео-материалов, как составляющая рекламной кампании

                .service__item.opened
                    .service__item-close.js-close-text
                        span
                    .service__item-img
                        img(src="img/strategy3.png" srcset="img/strategy3@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 Интернет-маркетинг
                        button.js-open-text Подробнее

                        .service__item-text
                            i
                            ul
                                li
                                    span Поисковая оптимизация

                                    ul
                                        li
                                            span Создание семантического ядра и продвижение сайта в поисковых системах

                                li
                                    span SMM

                                    ul
                                        li
                                            span Продвижение вашего продукта посредством социальных сетей

                                li
                                    span Медиабаинг

                                    ul
                                        li
                                            span Покупка и грамотное распределение трафика, согласно Вашим целям

                                li
                                    span E-mail

                                    ul
                                        li
                                            span E-mail-маркетинг, взаимодействие с потенциальным и уже существующим клиентом с помощью электронных писем, триггерные-рассылки

                .service__item.opened
                    .service__item-close.js-close-text
                        span
                    .service__item-img
                        img(src="img/strategy4.png" srcset="img/strategy4@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 SERM-маркетинг
                        button.js-open-text Подробнее

                        .service__item-text
                            i
                            ul
                                li
                                    span Анализ ситуации на рынке

                                    ul
                                        li
                                            span Определение всех ситуаций, несущих угрозу Вашей репутации на рынке

                                li
                                    span Мониторинг конкурентов

                                    ul
                                        li
                                            span Анализ работы конкурентов, определение сильных сторон и пробелов в продвижении

                                li
                                    span Формирование стратегии

                                    ul
                                        li
                                            span Разработка стратегии по управлению Вашей репутацией в интернете.

                                li
                                    span Создание и публикация благоприятного контента

                                    ul
                                        li
                                            span Высококачественный контент. Работа с отзывами, негативом, обратной связью в целом.
