.service {
  padding-top: 100px;

  &__wrap {

  }

  &__content {
    padding-left: 85px;

    @media(max-width: 1200px) {
      padding-left: 0;
    }

    @media(max-width: 768px) {
      padding-bottom: 69px;
      
      h1 {
        margin-bottom: 46px;
      }
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(50% - 11px);
    margin-bottom: 36px;

    background: #F9FEFF;
    box-shadow: 0px 0px 12px rgba(174, 242, 255, 0.5);
    border-radius: 5px;

    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;

    position: relative;

    @media(max-width: 620px) {
      padding-bottom: 20px;
    }

    &.opened {
      padding-bottom: 20px;

      @media(max-width: 768px) {
        padding-left: 0;
      }

      .service__item-content {
        width: 80%;

        @media(max-width: 768px) {
          width: 100%;
        }
      }

      .service__item-text {
        display: flex;
        padding-left: 0;
        width: 100%;
        position: relative;
        padding-bottom: 0;
        box-shadow: none;

        i {
          display: none;
        }

        ul {
          padding-left: 0;
          width: 100%;
          box-shadow: none;
          padding-bottom: 0;
        }
      }
    }

    &:hover {
      z-index: 10;
    }

    &.active {
      z-index: 100;
      .service__item-text {
        display: flex;
      }

      .service__item-close {
        opacity: 1;
      }
    }

    @media(max-width: 768px) {
      flex-wrap: wrap;
      padding-top: 45px;
      padding-bottom: 45px;
    }

    @media(max-width: 620px) {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-close {
      position: absolute;
      top: 19px;
      right: 24px;

      width: 12px;
      height: 12px;
      transition: .2s;
      opacity: 0;

      &:hover {
        opacity: .6;
      }

      span {
        display: block;
        width: 100%;
        height: 100%;

        &:after {
          content: "";
          width: 120%;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 50%;
          background: $black;
          transform: translate(-50%) rotate(45deg);
        }

        &:before {
          content: "";
          width: 120%;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 50%;
          background: $black;
          transform: translate(-50%) rotate(-45deg);
        }
      }

      &:after {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    &-img {
      width: 78px;
      height: 78px;

      position: relative;
      z-index: 10;

      @media(max-width: 768px) {
        margin-bottom: 19px;
      }
    }

    &-text {
      display: none;
      justify-content: center;

      position: absolute;
      width: 100%;
      left: 0;
      padding-left: 13px;

      background: #F9FEFF;
      box-shadow: 0 8px 12px rgba(174, 242, 255, 0.5);
      border-radius: 5px;
      box-sizing: border-box;
      margin-top: -20px;
      padding-top: 5px;
      padding-bottom: 32px;

      @media(max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 15px;
      }

      @media(max-width: 620px) {
        position: relative;
        box-shadow: none;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }

      i {
        display: inline-block;
        width: 78px;
        height: 10px;

        @media(max-width: 768px) {
          display: none;
        }
      }

      > ul {
        width: 60%;
        padding-left: 44px;
        left: 0;

        box-sizing: border-box;
        margin: 0;
        list-style-position: inside;
        box-sizing: border-box;

        @media(max-width: 768px) {
          width: 100%;
          padding-left: 0;
          text-align: left;
        }

        > li {
          margin-bottom: 4px;

          @media(max-width: 768px) {
            &:last-child {
              margin-bottom: 0;
            }
          }

          > span {
            margin-left: -15px;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            word-break: break-all;

            padding-left: 15px;
            margin-left: -30px;

            font-size: 14px;
            font-weight: bold;
          }

          &::marker {
            color: #467DE5;
            font-size: 20px;
            margin-right: 6px;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            li {
              font-size: 12px;
              line-height: 15px;
              padding-left: 11px;

              span {
                margin-left: 0;
                display: block;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
              }

              em {
                display: block;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                font-style: normal;
              }
            }
          }
        }
      }
    }

    &-content {
      width: 60%;
      padding-left: 44px;
      box-sizing: border-box;

      @media(max-width: 992px) {
        padding-left: 20px;
      }

      @media(max-width: 768px) {
        padding-left: 0;
        width: 100%;
        text-align: center;
        padding-left: 20px;
      }

      h3 {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 0;

        @media(max-width: 992px) {
          font-size: 20px;
          line-height: 24px;
        }

        @media(max-width: 768px) {
          margin-bottom: 6px;
          width: 100%;
        }
      }

      button {
        text-decoration: underline;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        outline: none;

        @media(max-width: 768px) {
          margin-left: auto;
          margin-right: auto;
          display: block;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}