.service.section.section--height-auto#service(data-bg-color="#ea97ff;#f9c1a4" data-section-index="1")
    .service__wrap.container.section__content
        .service__content
            h1 Наши услуги

            .service__grid
                .service__item
                    .service__item-img
                        img(src="img/strategy.png" srcset="img/strategy@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 Стратегия и брендинг
                        button Подробнее

                        ul
                            li
                                span Исследование

                                ul
                                    li
                                        span Этап 1
                                        em Описание этапа 1
                                    li
                                        span Этап 2
                                        em Описание этапа 2
                                    li
                                        span Этап 3
                                        em Описание этапа 3

                            li
                                span Постановка целей и определение KPI

                            li
                                span Медиапланирование


                .service__item
                    .service__item-img
                        img(src="img/strategy2.png" srcset="img/strategy2@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 Web-услуги
                        button Подробнее

                        ul
                            li
                                span Исследование

                                ul
                                    li
                                        span Этап 1
                                        em Описание этапа 1
                                    li
                                        span Этап 2
                                        em Описание этапа 2
                                    li
                                        span Этап 3
                                        em Описание этапа 3

                            li
                                span Постановка целей и определение KPI

                            li
                                span Медиапланирование

                .service__item
                    .service__item-img
                        img(src="img/strategy3.png" srcset="img/strategy3@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 Интернет-маркетинг
                        button Подробнее

                        ul
                            li
                                span Исследование

                                ul
                                    li
                                        span Этап 1
                                        em Описание этапа 1
                                    li
                                        span Этап 2
                                        em Описание этапа 2
                                    li
                                        span Этап 3
                                        em Описание этапа 3

                            li
                                span Постановка целей и определение KPI

                            li
                                span Медиапланирование

                .service__item
                    .service__item-img
                        img(src="img/strategy4.png" srcset="img/strategy4@2x.png 2x" alt="strategy")

                    .service__item-content
                        h3 SERM-маркетинг
                        button Подробнее

                        ul
                            li
                                span Исследование

                                ul
                                    li
                                        span Этап 1
                                        em Описание этапа 1
                                    li
                                        span Этап 2
                                        em Описание этапа 2
                                    li
                                        span Этап 3
                                        em Описание этапа 3

                            li
                                span Постановка целей и определение KPI

                            li
                                span Медиапланирование
